@import url('https://fonts.googleapis.com/css?family=Bangers');

@keyframes slideLeft {
  from { left: 1000px; }
  to { left: 0px; }
}

@keyframes slideRight {
  from { left: -1000px; }
  to { left: 0px; }
}

html, body {
  font-family: 'Bangers', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  background-image : url('https://cdn.pixabay.com/photo/2015/10/12/15/03/arctic-984127__340.jpg');
  background-size: contain;
}

.header {
  width: 100%;
  background-color: lightblue;
  padding: 4px;
  text-align: center;
  border-bottom: 2px solid silver;
  margin-bottom: 8px;
}

canvas {
  margin: auto;
  display: block;
  border: 2px solid black;
  border-radius: 10%;
}

.header h1 {
  position: relative;
  animation-name: slideLeft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  font-size: 48px;
}

.header h4 {
  position: relative;
  animation-name: slideRight;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  font-size: 18px;
}
